.heading{
    color: #FFFF99;
    font-size: 80pt;
}

body {
    background-color: darkslategray;
}

.game-cell{
}

.active-cell{
    width: inherit;
    height: inherit;
    /*rect(top, right, bottom, left)*/
    clip: rect(0, 50, 50, 0);
}

.dead-cell{
    width: inherit;
    height: inherit;
    /*rect(top, right, bottom, left)*/
    clip: rect(100, 50, 150, 0);
}
