.heading{
    color: #FFFF99;
    font-size: 80pt;
}

body {
    background-color: black;
}

.game-cell{
    position: absolute;
    background-image: url("alive_dead_small.png");
    background-repeat: no-repeat;
}

.active-cell{
    background-position: 0px 0px;
}

.dead-cell{
    background-position: 0% 50% ;
}

/*Cell that was never alive*/
.unalive-cell {
    background-position: 0% 100% ;
}

.start-stop{
    color: mediumvioletred;
    width: 250px;
    height: 50px;
    background-color: lightgoldenrodyellow;
    font-size: 40px;
}